html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-heading,
.main-paragraph,
.statistics,
.stat,
.stat-heading {
	margin: 0;
	padding: 0;
}

.main-heading,
.stat {
	color: hsl(0, 0%, 100%);
	font-weight: 700;
	font-size: 20px;
}

.main-paragraph,
.stat-heading,
.attribution {
	font-weight: 400;
	font-size: 15px;
}

html {
	height: 100vh;
}

body {
	justify-content: center;
	min-height: 100%;
	text-align: center;
	font-family: "Inter", Helvetica, sans-serif;
	background-color: hsl(233, 47%, 7%);
}

.wrap {
	min-height: 80vh;
	width: 85vw;
	border-radius: 10px;
	background-color: hsl(254, 38%, 16%);
}

.background {
	position: relative;
	min-height: 30vh;
	width: 100%;
	background: top center no-repeat;
	background-size: cover;
	border-radius: 10px 10px 0 0;
}

.background:after {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	border-radius: 10px 10px 0 0;
	background-color: hsla(277, 64%, 41%, 0.6);
}

.main-heading,
.main-paragraph,
.statistics {
	width: 80%;
}

.main {
	justify-content: space-around;
	height: 50vh;
}

.main-heading-emphasis {
	color: hsl(277, 64%, 41%);
}

.main-paragraph {
	color: hsla(0, 0%, 100%, 0.75);
}

.statistics {
	min-height: 20vh;
	justify-content: space-between;
	list-style: none;
}

.stat-heading {
	color: hsla(0, 0%, 100%, 0.6);
}

.attribution {
	position: absolute;
	bottom: 5px;
}

.attribution p,
.attribution a {
	color: white;
	text-decoration: none;
}

.attribution p {
	margin: 5px;
}

@media (min-width: 320px) {
	.background {
		background-image: url(images/image-header-mobile.jpg);
	}
}

@media (min-width: 1025px) {
	.main-heading,
	.stat {
		font-size: 25px;
	}

	.wrap {
		min-height: 50vh;
		flex-direction: row;
		justify-content: space-between;
	}

	.background {
		width: 50%;
		height: 50vh;
		order: 1;
		border-radius: 0 10px 10px 0;
		background-image: url(images/image-header-desktop.jpg);
	}

	.background:after {
		border-radius: 0 10px 10px 0;
	}

	.main {
		width: 45%;
		justify-content: space-around;
		text-align: left;
		padding: 50px 15px 0 20px;
	}

	.statistics {
		flex-direction: row;
		justify-content: space-between;
	}
}
